# Default image to be used within the jobs (can be overriden within jobs)
# Used Debian Bullseye Node image so OpenSSL 1.1 (libcrypto.so.1.1) is available (gitlab CI would not work without)
image: node:18-bullseye

stages:
  - build
  - publish

variables:
  NODE_ENV: production

  NPM_CONFIG_PRODUCTION: "false"

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - frontend/node_modules/
    - node_modules/

build:
  stage: build
  image: node:18-bullseye
  script:
    - echo "Installing frontend dependencies"
    - npm ci --prefix frontend --include=dev
    - echo "Installing root dependencies"
    - npm ci --include=dev
    - echo "Building App"
    - npm run build
    - echo "Running tests"
    - npm test --silent
  artifacts:
    paths:
      - build/
      - dist/
    expire_in: 1 day
  # on push to main or PR (MR in gitlab)
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - when: never

publish-image:
  stage: publish
  # docker inside of docker!
  image: docker:24
  services:
    - name: docker:24-dind
      alias: dind
  variables:
    # disable TLS cert handling to make this process easier
    DOCKER_TLS_CERTDIR: ""
    IMAGE: "ghcr.io/${GHCR_USERNAME}/${CI_PROJECT_NAME_LOWER}:${CI_COMMIT_SHA}"
  needs:
    - job: build
      artifacts: false
  # only on push to main
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      when: on_success
    - when: never
  before_script:
    - echo "$GHCR_TOKEN" | docker login ghcr.io -u "$GHCR_USERNAME" --password-stdin
  script:
    - docker build -t "$IMAGE" .
    - docker push "$IMAGE"
  after_script:
    - docker logout ghcr.io || true
    - rm -f /root/.docker/config.json || true
