stages:
  - test

test_job:
  stage: test
  script:
    - echo "Running GitLab CI from GitHub mirror"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
    - when: never