# Note: this is the default image, the ones within the jobs overrride it
image: node:lts

stages:
  - build

variables:
  NODE_ENV: production

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - frontend/node_modules/
    - node_modules/

build:
  stage: build
  image: node:lts
  script:
    - echo "Installing frontend dependencies"
    - npm ci --prefix frontend
    - echo "Installing root dependencies"
    - npm ci
    - echo "Building App"
    - npm run build
    - echo "Running tests"
    - npm test --silent
  artifacts:
    paths:
      - build/
      - dist/
    expire_in: 1 day
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - when: never
